<!DOCTYPE html>
<html>
  <head>
    <title>UF Directory App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr ng-init="selectedItem = null"
                  ng-repeat="listing in listings | filter:searchText | orderBy:['code','name']"
                  class="listingItem" ng-class="{'selected':$parent.selectedItem == listing}">
                 <td>{{listing.code}}</td>
                 <td>{{listing.name}}</td>
                 <div id="btnContainer">
                   <td><button class="btn btn-sm glyphicon glyphicon-info-sign" ng-click="showDetails(listing)"></button></td>
                   <td><button class="btn btn-sm glyphicon glyphicon-edit" ng-click="editDetails(listing)"></button></td>
                   <td><button class="btn btn-sm glyphicon glyphicon-remove" ng-click="deleteListing(listings.indexOf(listing))"></button></td>
                 </span>
               </tr>
            </table>
          </div>
          <button id="addListingBtn" class="btn btn-lg" ng-click="startAddListing()">Add Listing</button>
        </div>
        <div class="col-md-6">
          <div class="jumbotron" ng-show="infoPane != ''">
            <section ng-show="infoPane == 'showDetails'">
              <h2>Detailed Information</h2>
              <div>
                <strong>code:</strong> {{selectedItem.code || "Unknown"}}
              </div>
              <div>
                <strong>building name:</strong> {{selectedItem.name || "Unknown"}}
              </div>
              <div>
                <strong>address:</strong> {{selectedItem.address || "Unknown"}}
              </div>
              <div>
                <strong>latitude:</strong> {{selectedItem.coordinates.latitude || "Unknown"}}
              </div>
              <div>
                <strong>longitude:</strong> {{selectedItem.coordinates.longitude || "Unknown"}}
              </div>
            </section>
            <section ng-show="infoPane == 'editDetails'">
              <h2>Edit Listing Information</h2>
              <form ng-submit="editListing()">
                <input type="text" ng-model="tempListing.name" placeholder="Name">
                <input type="text" ng-model="tempListing.code" placeholder="Code">
                <input type="text" ng-model="tempListing.address" placeholder="Address">
                <input type="number" ng-model="tempListing.coordinates.latitude" placeholder="Latitude">
                <input type="number" ng-model="tempListing.coordinates.longitude" placeholder="longitude">
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </section>
          <section ng-show="infoPane == 'addListing'">
            <h2>Add New Listing</h2>
            <form ng-submit="addListing()">
              <input type="text" ng-model="tempListing.name" placeholder="Name">
              <input type="text" ng-model="tempListing.code" placeholder="Code">
              <input type="text" ng-model="tempListing.address" placeholder="Address">
              <input type="number" ng-model="tempListing.coordinates.latitude" placeholder="Latitude">
              <input type="number" ng-model="tempListing.coordinates.longitude" placeholder="longitude">
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </section>
          </div>
          <div class="jumbotron">
            <h2>Building Locations</h2>
            <section map-lazy-load="https://maps.google.com/maps/api/js">
              <ng-map center="29.64327,-82.35594" zoom="14">
                <marker ng-repeat="listing in listings" position="{{listing.coordinates.latitude}}, {{listing.coordinates.longitude}}" id="{{$index}}" on-click="pinClicked()"></marker>
              </ng-map>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="ng-map.min.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
